$font-stack:    PT Serif, Helvetica, sans-serif;
$primary-color: #333;

body {
    font: 100% $font-stack;
    color: $primary-color;
}

#container {
    margin: 0px auto;
    width: 100%;
}

.new-passage {
    float: left;
    font-size: 20px;
    border: 1px solid black;
    line-height: 20px;
    cursor: pointer;

    padding: 5px;
}

a.delete {
    float: right;
    padding: 5px;
    border: 1px solid black;
    background-color: #FEE;

    &:hover {
        background-color: red;
        color: white;
    }
}


.sidebar {
    width: 25%;
    padding: 0;
    font-size: 13px;

    h3 {
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            cursor: pointer;
            padding: 15px;
            width: 80%;
            position: relative;

            &:hover {
                background-color: #DDD;
            }

            a.delete {
                margin-top: -23px;
            }

            a.edit {
                height: 100%;
                width: 80%;
                display: block;
            }

        }


    }
}

.fact {
    &.positive {
        background-color: #DFD;
    }

    &.negative {
        background-color: #FDD;
    }
}

#left-sidebar {
    float: left;
    border-right: 1px solid #DDD;
}

#right-sidebar {
    float: left;
    width: 20%;
    border-left: 1px solid #DDD;
}

#editing {
    float:left;
    padding: 15px;
    width: 50%;
    margin-right: 10px;

    textarea {
        border: 1px solid #DDD;
        width: 95%;
        font-size: 16px;
        padding: 15px;
    }

    h3 {
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
    }

    .assumptions, .consequences {
        float: left;
        width: 50%;
    }

    .search-field {
        width: 90%;
        padding: 5px 10px;
        font-size: 15px;
    }
}
