$font-stack:    PT Serif, Helvetica, sans-serif;
$primary-color: #333;

.story-card {
    position: relative;
}

.story-actions {
    position: relative;
    display: flex;
    bottom: -55px;
}

.file-input {
    display: inline;
}

.ide-actions {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    .ide-action {
        margin-right: 15px;
    }
}

.edit-passage-link {
    cursor: pointer;

    height: 40px;
}

.passage-link {
    &:hover {
        background: #DDF;
    }
}

#story-upload {
    display: none;
}

body {
    font: 100% $font-stack;
    color: $primary-color;
}

#container {
    margin: 0px auto;
    width: 100%;
}

.new-passage {
    float: left;
    font-size: 20px;
    border: 1px solid black;
    line-height: 20px;
    cursor: pointer;

    padding: 5px;
}

input.link-probability, input.consequence-probability {
    width: 15px;
    padding: 5px;
}

a.delete {
    float: right;
    padding: 5px;
    border: 1px solid black;
    background-color: #FEE;

    &:hover {
        background-color: red;
        color: white;
    }
}

.passage-link.selected {
    background: #DDF;
}

.passage-links-sidebar header{
    margin-right: 15px;
    display: inline;
}

.sidebar {
    header {
        padding-left: 20px;
        display: flex;
        align-items: center;
        flex-direction: row;
        h5 {
            margin-right: 20px;
        }
        button {
            margin: 0;
        }
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
    }
}

.sidebar .fact {
    cursor: pointer;
}

.fact {
    &.positive {
        background-color: #DFD;
    }

    &.negative {
        background-color: #FDD;
    }
}

.editing-view {
    textarea {
        border: 1px solid #DDD;
        width: 100%;
        font-size: 16px;
        padding: 15px;
    }

    .result-list {
        margin: 0;
        padding: 0;
        border: 1px solid #DDD;
        border-top: none;
    }

    .search-field {
        width: calc(99% - 20px);
        padding: 5px 10px;
        font-size: 15px;
    }

    h3 {
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }

}
