$font-stack:    PT Serif, Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#container {
    margin: 0px auto;
    width: 70%;
}

.choices {
    list-style: none;
    display: block;
    min-height: 30px;
    .historical-choice {
        padding: 10px;
        display: block;
        color: grey;
    }
    .choice {
        padding: 10px;
        cursor: pointer;
        float: left;
        margin-right: 15px;
        display: inline-block;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
}
